@import (reference) 'extra.less';

body {
	> main {
		div.tab.logs {
			padding-top: 0;

			div#timeline {
				border-left: rgba(255, 255, 255, 0.6) solid 4px;
				padding: @tab-padding+8 0 8px 0;
				margin-left: 20px;
				width: calc(~"100% - 20px");

				div.log {
					display: block;

					> div {
						display: inline-block;
					}

					div.time {
						margin-left: -28px;
						margin-right: 4px;
						padding: 2px;
						border-radius: 4px;
						background-color: red;
					}

					div.message {
					}
				}
			}
		}
	}
}