@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
body > * {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  overflow-y: scroll;
}
body aside {
  left: 0;
  width: 7.5%;
  padding: 15px 0px;
  background-color: #36b030;
  text-align: center;
}
body aside ul {
  margin: 0;
  padding: 0;
}
body aside ul li {
  margin: 15px 0px;
  vertical-align: middle;
}
body aside ul li img {
  width: 50%;
}
body main {
  right: 0;
  width: 92.5%;
  padding: 5px;
}
