input {
  outline: none;
}
input[type=text],
input[type=number] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  transition: border-bottom 0.2s ease-out;
  color: white;
  text-align: center;
  background-color: transparent;
}
input[type=text]:focus:invalid,
input[type=number]:focus:invalid {
  border-bottom: 1px solid #F44336;
}
input[type=text]:valid,
input[type=number]:valid {
  border-bottom: 1px solid #4CAF50;
}
input[type=text]:disabled,
input[type=number]:disabled {
  color: rgba(0, 0, 0, 0.42);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.42);
}
