@keyframes spinning-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body > aside {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #2d6923;
  overflow-y: scroll;
}
body > aside > ul {
  margin: 0;
  padding: 10px 10px 10px 10px;
  list-style-type: none;
}
body > aside > ul ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body > aside > ul li {
  padding: 5px;
  border-radius: 5px;
  font-size: large;
  color: rgba(255, 255, 255, 0.38);
}
body > aside > ul li .content {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}
body > aside > ul li .content img,
body > aside > ul li .content i.material-icons,
body > aside > ul li .content span.mdi {
  display: inline-block;
  margin-right: 5px;
  width: 24px;
  vertical-align: text-bottom;
  text-align: right;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
}
body > aside > ul li .content span.worldCode {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
  width: 24px;
  vertical-align: text-bottom;
  text-align: right;
  font-size: smaller;
  vertical-align: baseline;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
body > aside > ul li .content span.worldTitle {
  display: inline-block;
  text-align: left;
  width: calc(100% - 24px - 5px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
body > aside > ul li .content div.arrow {
  float: right;
}
body > aside > ul li#appTitle {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: large;
  font-weight: bold;
  color: white;
}
body > aside > ul li.allowed:not([disabled]) {
  color: white;
}
body > aside > ul li.allowed .content:hover {
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
body > aside > ul li.programs ul li.error .content {
  background-color: #B00020;
}
body > aside > ul li.programs ul li div.progressBar {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.33333333);
  border-radius: 1px;
  overflow: hidden;
}
body > aside > ul li.programs ul li div.progressBar div.status {
  height: 100%;
  background-color: white;
}
body > aside > ul li > * {
  display: inline-block;
}
body > aside > ul li.selected {
  background-color: rgba(255, 255, 255, 0.16);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
body > aside > ul li.selected > .content:hover {
  background-color: transparent;
  box-shadow: none;
}
body > aside > ul li.open ul {
  display: block;
}
body > aside > ul li > ul {
  display: none;
  padding-top: 5px;
  margin-left: 5px;
  font-size: medium;
}
body > aside > ul li > ul li.loading div.content span.status i.material-icons {
  animation-name: spinning-loading;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
